site_name: Radiology Protocol Manager
site_url: https://dfergs93.github.io/radiology-protocols/

# Rest of your config...
theme:
  name: material
  features:
    - navigation.tabs
    - navigation.expand
    - navigation.sections
    - search.suggest
    - search.highlight
    - content.tabs.link
    - toc.integrate

plugins:
  - search
  - awesome-pages

extra_css:
  - custom_css/extra.css

extra_javascript:
  - https://unpkg.com/mermaid@10/dist/mermaid.min.js

markdown_extensions:
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format